name: Lint and Test
# https://docs.github.com/en/free-pro-team@latest/actions/guides/building-and-testing-python

on:
  pull_request:
  push:
  schedule:
    - cron: "0 2 * * *" # run at 2 AM UTC

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      max-parallel: 6
      matrix:
        python-version: [3.7, 3.8]
        os: [ubuntu-latest, windows-latest]

    steps:
      - uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          make install
      - name: Lint with flake8
        run: |
          flake8
      - name: Test with tox
        run: tox -e py
  build-conda:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 6
      matrix:
        python-version: [3.7, 3.8]

    steps:
      - uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python-version }} with conda
        uses: s-weigand/setup-conda@v1
        with:
          update-conda: true
          python-version: ${{ matrix.python-version }}
          activate-conda: true
          # conda-channels: anaconda, conda-forge, intel
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          make conda
      - name: Lint with flake8
        run: |
          flake8
      - name: Test with tox
        run: tox -e py
